.vscode/

# Ignore files or folders starting with "credentials"
credentials*
credentials/*

# Ignore specific files or folders named "credentials" and any content inside them
/credentials
/credentials/**

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Ignore tfplan files to avoid committing the output of terraform plan
*tfplan

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore any environment variable files which may contain secrets
.env
.env.*

# Ignore private SSH keys
id_rsa
id_rsa.pub

# Ignore files related to sensitive data
secrets*
secret*
private*
